div#column1 {
    width: 50%;
    float: left;
}
div#column2 {
    width: 50%;
    float: right;
}

/* ==== START GOOGLE MAPS ==== */
div#contact-map {
    width: 550px;
    height: 330px;
    text-align: center;
}
div#contact-map p, div#contact-map h3 {
    display: inline;
    position: relative;
    bottom: 5px;
}
div#contact-map iframe {
    display: block;
    width: 550px;
    height: 300px;
}
/* ==== END GOOGLE MAPS ==== */

/* ==== START CONTACT INFO TABLE ==== */
section#contact-info {
    min-width: 550px;
    float: left;
    margin-bottom: 25px;
}
section#contact-info table {
    min-width: inherit;
    font-family: sans-serif;
    border-collapse: collapse;
    background: #f2f2f2;
}
section#contact-info table th.table-title {
    text-align: center;
    font-size: 125%;
    padding: 5px;
    background-color: #ebe9e9;
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 140%;
    font-style: italic;
    text-transform: uppercase;

    color: #676766;
}
section#contact-info table th{
    text-transform: uppercase;
}
section#contact-info table th, section#contact-info table td {
    letter-spacing: 0.04em;
    font-size: 90%;
    border: 1px solid #999999;
    text-align: left;
    padding: 7px 10px 10px 10px;
}

section#contact-info table a[href^="mailto"]:hover {
    cursor: pointer;
}
/* ==== END CONTACT INFO TABLE ==== */

/* ==== START MESSAGE FORM ==== */
/* Style inputs with type="text", select elements and textareas */
div.contact-form input[type=text], div.contact-form input[type=email], div.contact-form select, div.contact-form textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    max-height: 500px;
}

div.contact-form input:focus, div.contact-form textarea:focus {
    outline: none;
} 

/* Style the submit button with a specific background color etc */
div.contact-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
div.contact-form input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
div.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    float:right;
    max-width: 500px;
}

div.contact-form span.bigtext {
    width: 350px;
    height: 40px;
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 180%;
    font-style: italic;
    text-transform: uppercase;

    color: #676766;

    display: block;
    margin: 0 auto;
}

/* ==== END MESSAGE FORM ==== */