form.login-large {
    border-radius: 8px;
    width: 300px;
    min-height: 350px;
    padding: 0px 5px;
    background-color: #232f3e;
    /*text-align: left;*/
    color: #ffffff;
    margin-top: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    /*-webkit-box-align: center;*/
    /*align-items: center;*/
    text-align: center;

    margin: 0 auto;
}

form.login-large > span {
    width: 250px;
    height: 40px;
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 140%;
    font-style: italic;
    text-transform: uppercase;

    display: inline-block;

    margin: 10px 0;
}

form.login-large input:not([type="checkbox"]) {
    text-align: center; 

    /*center element using parent text-align:center and child display:inline-block; */ 
    display: inline-block; 
    
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffffee;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border:none;
    resize:none;

    margin: 4px 10px;

    font: inherit;
    font-size: 14px;
    font-weight: normal;

    width: 200px;
    padding: 10px;

    margin-bottom: 5px;
}

form.login-large input:focus {
    outline: none;
}

form.login-large button {
    width: 120px;
    height: 35px;
    border-radius: 3px;
    background-color: #586a80;
    color: #ffffff;
    border: 0;
    padding: 5px 22px;
    font-weight: bold;
    margin: 10px 0;
}
form.login-large button:hover {
    background-color: #2ca02c;
    cursor: pointer;
}

form.login-large div#remember-me {
    text-align: left;
}
form.login-large div#remember-me label {
    position: relative;
    bottom: 2px;
}
form.login-large input[type="checkbox"] {
    margin-left: 80px;
    cursor: pointer;
}

form.login-large div#forgot-password {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
form.login-large div#forgot-password a {
    color: white;
    text-decoration: none;
}
form.login-large div#forgot-password a:hover {
    color: #ff7707;
}

form.login-large div#new-user {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}
form.login-large div#new-user a {
    color: white;
    text-decoration: none;
}
form.login-large div#new-user a:hover {
    color: #ff7707;
}
