/* ==== START NAVIGATION BAR ==== */
div.logo-wrapper {
    margin: 0 auto;
    max-width: 1460px;
    min-width: 1100px;
}

nav {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 72px;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #232f3e;   
    height: 47px;
}

nav li {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
    
}

/*nav li:first-child {
    border-left: none;
}*/


nav .navbar-left-wrapper {
    float: left;
    margin-left: 5px;
}
nav .navbar-right-wrapper {
    float: right;
}

nav .navbar-main-wrapper {
    margin: 0 auto;
    max-width: 1460px;
    min-width: 1100px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover:not(.active) {
    background-color: #485769; 
}

nav a.active {
    background-color: rgb(63, 189, 211);
}

nav input[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #37475A;
    font-size: 16px;
    background-color: none;
    padding: 10px 20px 10px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

nav input[type=search] {
    width: 200px;
    height: 47px;
}

nav input[type=search]:focus {
    width: 100%;
}
nav .navbar-search-wrapper {
    display: inline-block;
}
/* ==== END NAVIGATION BAR ==== */