div#profile-details {
    display: flex;
    justify-content: left;
    border: none;
    /*border: 2px solid red;*/
    min-width: 250px;
    min-height: 400px;

    margin: 20px 0;

    word-break: normal;
}
div.time-greet {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 100%;
    font-style: italic;
    font-weight: 800;
    line-height: 80%;
    letter-spacing: -0.2%;
    text-transform: uppercase;

    color: rgb(72, 98, 112);

    border-radius: 5px;
    background-color: #f2f2f2;
    
    clear: both; /* in profile, text was a bit to the left, clear: both; seems to fix this */
}

/* Add a background color and some padding around the form */
div.edit-profile {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0px;
    /*float:right;*/
    width: 50%;
    text-align: center;
}
/* ------ AVATAR ------ */
div.edit-profile input[type=image] {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 40px;
}

div.profile-block {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    border-bottom: 1px solid rgb(160, 160, 160);
    text-align: center;
}
div.profile-block:first-child {
    border-bottom: none;
    margin-bottom: 0;
}
div.profile-block:nth-last-child(2) {
    border-bottom: none;
    margin-bottom: 0;
}
div.profile-block:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 100px;
}

/* ------ CATEGORY AND VALUES ------ */
div.profile-block span.category {
    float: left;
    width: 100px;
    text-align: left;
    font-size: 115%;
}
div.profile-block span.value {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: auto !important;
    font-size: 120%;
}
div.profile-block span.value-empty {
    display: inline-block;
    width: 1px;
}

div.profile-block span#email {
    font-size: 100%;
}

/* ------ EDIT BUTTONS ------ */
div.profile-block button.edit {
    float: right;
    width: 85px;
    background-color: #ff7707; 
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 100%;
}

div.profile-block button.edit:focus {
    outline: none;
}

div.edit-profile form {
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

div.edit-profile input[type=text],
div.edit-profile input[type=password], 
div.edit-profile input[type=email],
div.edit-profile input[type=number], 
div.edit-profile input[type=file],
div.edit-profile select, 
div.edit-profile textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    max-height: 500px;
}
div.edit-profile input[type=file] {
    width: 60%;
}

/* ------ NAME FORM ------ */
div.edit-profile form#realname-form input[type=text] {
    width: 49%;
}

/* ------ PASSWORD BUTTON & FORM ------ */
div.edit-profile button#pass-form-button {
    float: none;
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    font-size: 120%;
}

div.edit-profile input:focus,
div.edit-profile textarea:focus,
div.edit-profile select:focus {
    outline: none;
} 

/* Style the submit button with a specific background color etc */
div.edit-profile input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
div.edit-profile input[type=submit]:hover {
    background-color: #45a049;
}

div.edit-profile span.bigtext {
    width: 350px;
    height: 40px;
    text-align: center;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 180%;
    font-style: italic;
    text-transform: uppercase;

    color: #676766;

    display: block;
    margin: 0 auto;
}

/* ADVANCED BUTTON */
div.profile-block:last-of-type {
    text-align: left;
}
div.edit-profile button#advanced-form-button {  
    width: auto;
    border: none;
    padding: 4px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 100%;
    color: rgb(71, 71, 71);
}
div.edit-profile button#advanced-form-button:focus {
    outline: none;
}
div.edit-profile form#advanced-form {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(177, 2, 8);
    padding: 20px 20px;
    margin-top: 50px;
}
div.edit-profile form#advanced-form .bigtext {
    margin: 0 auto;
    font-size: 170%;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border-bottom: 5px solid white;
}

div.edit-profile form#advanced-form input[type="text"],
div.edit-profile form#advanced-form input[type="password"] {
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

div.edit-profile form#advanced-form input[type="submit"].red {
    background-color: rgb(111, 111, 111);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
div.edit-profile form#advanced-form input[type="submit"].red:hover {
    background-color: red;
}
div.edit-profile form#advanced-form p {
    font-weight: bolder;
    color: white;
}
div.edit-profile form#advanced-form div#check {
    color: white;
    margin: 20px auto 0 auto;
    width: 300px;
    
}

/* ========================= LISTINGS COLUMN ========================= */

.my-listings {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0px;
    /*float:right;*/
    width: 48%;
    height: 1000px;
    margin-left: 2%;
    text-align: center;
    float: right;
    color: rgb(72, 98, 112);

    overflow: auto;
}

.my-listings > .title {
    margin-top: 0;
    cursor: default;
}

.listings-container {
     border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0px;
    /*float:right;*/
    width: 100%;
    height: 86%;
    margin-left: 2%;
    text-align: center;
    float: right;
    color: rgb(72, 98, 112);

    overflow: auto;
}

.separator {
    width: 100%;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(226, 232, 235);
}

.listing-row {
    overflow: hidden;
    height: 164px;
}

.anchor {
    text-decoration: none;
    color: inherit;
}

.card-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 10px;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    vertical-align: middle;
}
.card-container:hover {
    background-color: #e9e9e9;
}
.card-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-area {
    width: 70%;
}

.thumbnail-area {
    width: 25%;
    border-radius: 10px;
    /*background: rgb(230, 230, 230);*/
    float: right;
    margin: 0 10px;
}
.thumbnail-area > img {
    height: 128px;
    width: 128px;  
    border-radius: 10px;
}

.listing-title {
    width: 100%;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: calc(48px);
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: rgb(72, 98, 112);
}
p.category {
    width: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 16px;
    line-height: 24px;
    max-height: none;
    color: #d16004;
    white-space: nowrap;
    overflow-wrap: normal;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.space {
    box-sizing: border-box;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    flex: 1 1 100%;
    overflow: hidden;
}
.description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    margin: 0 0 5px;
    word-break:break-word; /* for if there are no spaces */
}
.details-footer {
    width: 100%;
    display: inline-block;
    color: rgb(146, 161, 169);
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
