<div id="upper-header">
    <div id="header-left-wrapper">
        <div id="motto-wrapper">
            <span>Exchanging made Fast & Easy</span>
        </div>
    </div>
    <div id="header-middle-wrapper">
        <a href="/" id="nav-top"> <img class="logo" src="/assets/image/LogoWhite.png" alt="letsXchange"> </a>
    </div>
    <div id="header-right-wrapper">
        <div id="logged-as">
        </div>
    </div> 
</div>
    
<nav>
    <div class="nav_my_main">


        <div class="navbar-main-wrapper">

            <ul class="navbar-left-wrapper">
                <div class="contents-nav-left">
                    <li><a href="/" >Home</a></li>
                    <li><a href="/watchlist" >Watchlist</a></li>
                    <li><a href="/additem" >New Offer</a></li>
                </div>
            </ul>

            <ul class="navbar-right-wrapper">
                <div class="contents-nav-right">

                    <!-- REGISTER PAGE LINK -->
                    <li><a href="/register" >Sign Up</a></li>

                    <!-- LOGIN FORM AND POPUP BUTTON -->
                    <li><button id="login-show" name="login">Log In</button></li>
                        <form action="/login" method="post" id="login-form" class="login" hidden>
                            <a href="/login" title="Go to the login page"><div class="icon"><i class="fas fa-sign-in-alt"></i></div></a>
                            <span>Login</span>
                            <input type="text" name="user" placeholder="Username" required="required" autofocus 
                                oninvalid="this.setCustomValidity('Please enter username')" oninput="setCustomValidity('')">
                            <input type="password" name="pass" placeholder="Password" required="required" 
                                oninvalid="this.setCustomValidity('Please enter password')" oninput="setCustomValidity('')">
                            <button type="submit" form="login-form">Log In</button>   
                            <input type="checkbox" name="rememberuser" value="rememberuser" />
                            <label for="rememberuser">Remember me</label>   
                        </form> 

                    <!-- OPEN & CLOSE FORM SCRIPT -->
                    <script>
                        $.getScript("../../js/display-container.js");
                    </script>

                    <!-- contact link -->
                    <li><a href="/contact" >Contact</a></li>
                </div>
            </ul>

            <!-- MIDDLE FILL -->
            <ul class="navbar-search-wrapper"> 
                <li>
                <form action="/" id="searchform" method="GET">
                    <input type="search" name="q" value="{{query}}" placeholder="What are you looking for..." /> 
                    <button type="submit" value="Search" form="searchform" class="search"><i class="fa fa-search"></i></button>
                </form>
                </li>
            </ul>
             </div>
        </div>
</nav>  
