<div id="upper-header">
    <div id="header-left-wrapper">
        <div id="motto-wrapper">
            <span>Exchanging made Easy & Fast</span>
        </div>
    </div>
    <div id="header-middle-wrapper">
        <a href="/" id="nav-top"> <img class="logo" src="../assets/image/LogoWhite.png" alt="letsXchange"> </a>
    </div>
    <div id="header-right-wrapper">
        <div id="logged-as">
            <span class='default-cursor'>Logged in as</span>
            <a href="/profile">
            <span id="username">{{data.user}}</span>
            <img class="avatar-small" src="../assets/public/avatars/{{data.user}}.png" alt="Image not found" 
                onerror="this.onerror=null;this.src='../assets/image/default_avatar.png';" />
            </a>
        </div>
    </div>
</div>
    
<nav>
    <div class="nav_my_main">


        <div class="navbar-main-wrapper">

            <ul class="navbar-left-wrapper">
                <div class="contents-nav-left">
                    <li><a href="/" >Home</a></li>
                    <li><a href="additem" >New Offer</a></li>
                    <li><a href="" >My Listings</a></li>
                </div>
            </ul>

            <ul class="navbar-right-wrapper">
                <div class="contents-nav-right">
                    <li><a href="profile" >My Account</a></li>

                    <!-- LOGOUT + CONFIRM SCRIPT -->
                    <li><a href="logout" id="nav-logout" class="confirmation">Logout</a></li>
                    <script src="../../js/confirm.js"></script> 

                    <li><a href="contact" >Contact</a></li>
                </div>              
            </ul>

            <!-- MIDDLE FILL -->
            <ul class="navbar-search-wrapper"> 
                <li>
                <form action="/" id="searchform" method="GET">
                    <input type="search" name="q" value="{{query}}" placeholder="What are you looking for..." /> 
                    <button type="submit" value="Search" form="searchform" class="search"><i class="fa fa-search"></i></button>
                </form>
                </li>
            </ul>
             </div>
        </div>

        <!-- scripts -->
</nav>  
