<div id="upper-header">
    <a href="/" id="nav-top"> <img class="logo" src="../assets/image/LogoWhite.png" alt="letsXchange"> </a>  
</div>
    
<nav>
    <div class="nav_my_main">


        <div class="navbar-main-wrapper">

            <ul class="navbar-left-wrapper">
                <div class="contents-nav-left">
                    <li><a href="/" >Home</a></li>
                    <li><a href="" >New Offer</a></li>
                    <li><a href="" >My Listings</a></li>
                </div>
            </ul>

            <ul class="navbar-right-wrapper">
                <div class="contents-nav-right">

                    <!-- REGISTER PAGE LINK -->
                    <li><a href="register" >Sign Up</a></li>

                    <!-- LOGIN FORM AND POPUP BUTTON -->
                    <li><button id="login-show" name="login">Log In</button></li>
                        <form action="/login" method="post" id="login-form" class="login" hidden>
                            <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
                            <span>Login</span>
                            <input type="text" name="user" placeholder="Username" required="required" autofocus 
                                oninvalid="this.setCustomValidity('Please enter username')" oninput="setCustomValidity('')">
                            <input type="password" name="pass" placeholder="Password" required="required" 
                                oninvalid="this.setCustomValidity('Please enter password')" oninput="setCustomValidity('')">
                            <button type="submit" form="login-form">Log In</button>   
                            <input type="checkbox" name="rememberuser" value="rememberuser" />
                            <label for="rememberuser">Remember me</label>    
                        </form> 

                    <!-- OPEN & CLOSE FORM SCRIPT -->
                    <script>
                        $.getScript("../../js/display-container.js");
                    </script>
                    <!--<script>
                        function openForm(button) {
                            console.log('a')
                            const form = document.getElementById(button.name + '-form');
                            if (form.hasAttribute('hidden')) {
                                form.removeAttribute('hidden');
                                button.setAttribute('class', 'active')
                            } else {
                                form.setAttribute('hidden', true);
                                button.setAttribute('class', 'inactive')
                            }
                        }
                    </script> -->

                    <!-- contact link -->
                    <li><a href="contact" >Contact</a></li>
                </div>
            </ul>

            <!-- MIDDLE FILL -->
            <ul class="navbar-search-wrapper"> 
                <li>
                <form action="/search" id="searchform" method="GET">
                    <input type="search" name="search" placeholder="What are you looking for..." /> 
                    <button type="submit" form="searchform"><i class="fa fa-search"></i></button>
                </form>
                </li>
            </ul>
             </div>
        </div>
</nav>  
