<div id="upper-header">
    <a href="/" id="nav-top"> <img class="logo" src="../assets/image/LogoWhite.png" alt="letsXchange"> </a>  
</div>
    
<nav>
    <div class="nav_my_main">


        <div class="navbar-main-wrapper">

            <ul class="navbar-left-wrapper">
                <div class="contents-nav-left">
                    <li><a href="/" >Home</a></li>
                    <li><a href="" >New Offer</a></li>
                    <li><a href="" >My Listings</a></li>
                </div>
            </ul>

            <ul class="navbar-right-wrapper">
                <div class="contents-nav-right">
                    <li><a href="profile" >My Account</a></li>

                    <!-- LOGOUT + CONFIRM SCRIPT -->
                    <li><a href="logout" id="nav-logout" class="confirmation">Logout</a></li>
                    <script src="../../js/confirm.js"></script> 

                    <li><a href="contact" >Contact</a></li>
                </div>              
            </ul>

            <!-- MIDDLE FILL -->
            <ul class="navbar-search-wrapper"> 
                <li>
                <form action="/search" id="searchform" method="GET">
                    <input type="search" name="search" placeholder="What are you looking for..." /> 
                    <button type="submit" form="searchform"><i class="fa fa-search"></i></button>
                </form>
                </li>
            </ul>
             </div>
        </div>
</nav>  
