<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <!--<link href="../css/index.css" rel="stylesheet" type="text/css" />-->
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <title> LetsXchange Homepage </title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">

        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>

    </head>
    <body>

        <header>
            {{#if data.auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}     
            {{/if}}
        </header>

        <main role="main">
            <h2>LetsXchange Project 2019</h2> 
            <br>
            <h4> Meet the development team</h4>
            <div>
                <select>
                    <option value="Alastair Holland"> Alastair Holland </option>


                </select>


            </div>

            
        </main>

        <footer>       
            {{> footer}}
        </footer>

    </body>  
</html>