<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <!--<link href="../css/index.css" rel="stylesheet" type="text/css" />-->
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <title> LetsXchange Homepage </title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">

        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>

    </head>
    <body>

        <header>
            {{#if auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}     
            {{/if}}
        </header>

        <main role="main">

            <p> This is an undergraduate project.</p>
                            <form action="/search" id="searchform" method="GET">
                    <input type="search" name="search" placeholder="What are you looking for..." style="overflow:hidden;" /> 
                    <button type="submit" form="searchform" style="float:right;"><i class="fa fa-search"></i></button>
                </form>
        </main>

        <footer>       
            {{> footer}}
        </footer>

    </body>  
</html>