<!DOCTYPE html>
<html>
    <head>
        <title>LetsXchange Profile</title>
        <link rel="icon" type="image/x-icon" href="../assets/ico/favicon.ico">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/additem.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
    
        <script src="../js/jquery-3.4.1.js"></script>

        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>

        <script>
            $.getScript('../js/populate-select.js');
        </script>
    </head>
    <body>

        <header>
            {{#if data.auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}
            {{/if}}
        </header>

        <main role="main">

            {{#if data.msg}}
                <span class='msg'>{{data.msg}}</span>
            {{/if}}
            
            <div id="item-form">

                <div class="add-item">  
                    <form action="/add-item" enctype="multipart/form-data" method="POST">

                        <h1 class="title">Create new offer</h1>

                        <div id="image-upload-wrapper">
                            <p>Add photos</p>
                            <div id="image-upload">
                                <span id="image-upload-field-text">Click to add or change photos</span>
                                <input type="file" id="item-photos" name="images" required multiple>    
                                <div id="thumbs">
                                    <!-- 
                                                file-functions.js
                                        THIS WILL BE POPULATED UPON FILE UPLOAD
                                        <div class="thumbnail-container"> 
                                            <img src="(file)" class="thumbnail">
                                        </div>
                                    -->
                                </div>
                            </div>
                            <span id="image-upload-under-text">You can add up to 5 photos.</span>
                            <span id="format-info">Supported formats: png, jpg and jpeg</span>
                            </br>
                        </div>

                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" placeholder="What do you want to trade?" required maxlength="64">

                        Description
                        <div class="expanding-textarea">
                            <textarea id="description" class="jTextarea" name="description" maxlength="750" required data-gramm_editor="false"
                            placeholder="Add information about your product like condition, color..."></textarea>
                            <span class="character-count" id="description">0 / 750</span>
                        </div>

                        <div class="grid">
                            <div class="column">
                                Category
                                <!-- Script to adjust select color once a value has been chosen -->
                                <script type="text/javascript">
                                    function changeMe(sel)
                                    {
                                    sel.setAttribute('style', 'color: rgb(72, 98, 112);')
                                    }
                                </script>
                                <select name="category" class="categories loadjson" required onchange="changeMe(this)">
                                    <!-- populate with jQuery from categories.json file -->   
                                    <option disabled selected value> Choose a category </option>  
                                </select>

                                <label for="location">Location</label>
                                <input type="text" id="searchTextField" name="location" class="Autocomplete" maxlength="64"
                                    placeholder="Where would you like to make the exchange?" required>
                            </div>
                            <div class="column">
                                <div id="exchange-item-category">
                                    Categories of desired items
                                    <button type="button" class="clear-select" name="exchange-categories">Clear selection</button>
                                    <select class="categories loadjson multiple-select" name="exchangeCategories" id="exchange-categories" multiple required>
                                    </select>               
                                </div>
                            </div>
                        </div>

                        Desired items description
                        <div class="expanding-textarea">
                            <textarea id="exchange" class="jTextarea" name="exchangeDescription" maxlength="500" required data-gramm_editor="false"
                            placeholder="What would you like to exchange your product for?"></textarea>
                            <span class="character-count" id="exchange">0 / 500</span>
                        </div>
                        
                        <div class="grid">
                            <div class="column">

                            </div>
                            <div class="column">

                            </div>


                        </div>


                        <div id="submit-wrapper">
                            <input type="submit" class="submit" value="List now">
                        </div>
                    </form>
                </div>

            </div>

        </main>

        <footer>
            {{> footer}}
        </footer>
        <!-- scripts -->
        <script>
            $.getScript('../js/textarea-auto-expand.js');
            $.getScript('../js/textarea-character-count.js');
            $.getScript('../js/select-functions.js');
            $.getScript('../js/file-functions.js');
        </script>
    </body>
</html>