<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/loginview.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />

        <title> LetsXchange Log In </title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">
        
        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>
        
        <header>
            {{#if data.auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}     
            {{/if}}
        </header>

        <main role="main">
            {{#if data.msg}}
                <p class="msg">{{data.msg}}</p>
            {{/if}}

            <form action="/login" method="post" id="loginform" class="login-large">
                <img class="logo" src="../assets/image/LogoWhite.png" alt="letsXchange">
                <span>Login to account</span>
                <input type="text" name="user" placeholder="Username" value="{{user}}" required="required" autofocus 
                    oninvalid="this.setCustomValidity('Please enter username')" oninput="setCustomValidity('')">
                <input type="password" name="pass" placeholder="Password" required="required" 
                    oninvalid="this.setCustomValidity('Please enter password')" oninput="setCustomValidity('')"> 
                
                <button type="submit" form="loginform">Log In</button> 

                <div id="remember-me">
                    <input type="checkbox" name="rememberuser" value="rememberuser" />
                    <label for="rememberuser">Remember me</label>    
                </div>

                <div id="new-user">
                    <a href="/register">New user? Sign in</a>
                </div>

                <div id="forgot-password">
                    <a href="/login">Forgot password</a>
                </div>
            </form>  
    
        </main>

        <footer>
            {{> footer}}
        </footer>

    </body>  
</html>