<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/register.css" rel="stylesheet" type="text/css" />
        <!--960 gs load-->
        <link href="../css/framework/960gs/css/960_12_col.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <title> LetsXchange Register</title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">

        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>

        <header>
            {{#if auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}     
            {{/if}}
        </header>

        <main role="main">
            
            {{#if msg}}
                <p class='msg'>{{msg}}</p>
            {{/if}}

            <!-- enctype="multipart/form-data" this value is required when you are using forms that have a file upload control
                enctype = encoding type -->
            <form action="/register" enctype="multipart/form-data" method="post" id="registerform" class="register">    
                <img class="logo" src="../assets/image/LogoWhite.png" alt="letsXchange">
                <span>Create an Account</span>          
                <input type="text" name="user" required="required" placeholder="Nickname" minlength="3" maxlength="16"
                    oninvalid="this.setCustomValidity('Username must be between 3 and 16 characters.')" oninput="setCustomValidity('')"/>
                <input type="email" name="email" required="required" placeholder="Email address"/>

                <!-- PASSWORD FIELDS + MATCH CHECK SCRIPT -->
                <input type="password" id="password" name="pass" required="required" placeholder="Password" minlength="3" maxlength="100"/>
                <input type="password" id="confirm_password" name="pass-confirm" required="required" placeholder="Confirm password" minlength="3" maxlength="100"/>
                <script language='javascript' type='text/javascript'>
                    var password = document.getElementById("password")
                    , confirm_password = document.getElementById("confirm_password");

                    function validatePassword(){
                        if(password.value != confirm_password.value) {
                            confirm_password.setCustomValidity("Passwords Don't Match");
                        } else {
                            confirm_password.setCustomValidity('');
                        }
                    }

                    //onchange event - when the value of an element has been changed
                    password.onchange = validatePassword;
                    //onkeyup event - when keyboard button is released
                    confirm_password.onkeyup = validatePassword;
                </script>

                <input type="number" name="mobile" placeholder="Contact number (optional)"/>

                <button type="submit" form="registerform">Register</button>
            </form>

        </main>

        <footer>
            {{> footer}}
        </footer>

    </body>  
</html>