
/* ==== START GOOGLE MAPS ==== */
section#contact-map {
    width: 550px;
    height: 330px;
    text-align: center;
}
section#contact-map p, section#contact-map h3 {
    display: inline;
    position: relative;
    bottom: 5px;
}
section#contact-map iframe {
    display: block;
    width: 550px;
    height: 300px;
}
/* ==== END GOOGLE MAPS ==== */

/* ==== START CONTACT INFO TABLE ==== */
section#contact-info {
    width: 550px;
    height: 330px;
}
section#contact-info table {
    width: inherit;
    font-family: sans-serif;
    border-collapse: collapse;
}
section#contact-info table th.table-title {
    text-align: center;
    font-size: 125%;
    padding: 5px;
}
section#contact-info table th{
    text-transform: uppercase;
}
section#contact-info table th, td {
    letter-spacing: 0.04em;
    font-size: 90%;
    border: 1px solid #999999;
    text-align: left;
    padding: 7px 10px 10px 10px;
}
/* ==== END CONTACT INFO TABLE ==== */

/* ==== START MESSAGE FORM ==== */
section#contact-message {
    width: 500px;
    height: 400px;
}
section#contact-message fieldset {
    width: 450px;
    border: 1px solid #b1d6d6;
    border-radius: 10px; 
    display: inline-block;
    padding:15px;
    text-align: center;
}
section#contact-message fieldset legend {
    background-color: #b1d6d6;
    font-weight: bold;
    border: inherit;
    border-radius: inherit;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}
section#contact-message fieldset input {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #b1d6d6;
    margin-bottom: 10px;
    margin-right: 10px;
    
}
section#contact-message fieldset textarea{
    width:440px;
    height:150px;
    resize: none;
    overflow: scroll auto auto;
    border: inherit;
    border-radius: inherit;
    margin-top: 5px;
}
section#contact-message fieldset input[type=submit] {
    display: block;
    color: #1c1f1f;
    margin: 10px auto 0px auto;
    text-shadow: 0px 1px 1px;
    border-bottom: 2px solid #b1d6d6;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
    background: -moz-linear-gradient(top, #beeae9, #a8cfce);
    background: -o-linear-gradient(top, #beeae9, #a8cfce);
    padding: 5px 20px;
}
section#contact-message fieldset input[type=submit]:hover {
    border: 1px solid #a4a4a4;
    color: #1c1f1f;
    background-color: #363b3b;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background: -moz-linear-gradient(top, #a8cfce, #beeae9);
    background: -o-linear-gradient(top, #a8cfce, #beeae9);
    
}
/* ==== END MESSAGE FORM ==== */