@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* default page style */
html, body {
    min-width: 600px;
    height: 100%;
    /*cursor:pointer;
    pointer-events: auto;*/
    font-family: Arial, Helvetica, sans-serif;
}

/* footer will be on bottom even when page is too small */
main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-bottom: 20px;
}
img.auto {
    height: auto;
    width: auto;
}
img.logo {
    height: 120px;
    width: 250px;
}

/* ==== START FOOTER ==== */
footer {
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
    margin-top: 100px;

    font: bold 16px sans-serif;
    /*font-weight: bold; 
    font-size: 16px; 
    font-family: sans-serif;*/

	text-align: left;
	padding: 10px 60px 20px;
    overflow: hidden;
}

footer .footer-upper {
    position: absolute;
    margin-left: 42%;   
}

footer .footer-upper a {
    display:inline-block;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    font: normal 14px Roboto;
}
footer .footer-left {
    float: left;
    margin-top: 45px;
}
footer h3 {
    color: #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0px 0px 10px;
}
footer h3 span {
    color: #ff0000;
}
footer .footer-links {
    color: #ffffff;
    margin: 0px 0px 10px;
    padding: 0px;
}
footer .footer-links a {
    display: inline-block;
    line-height: 1.7;
    text-decoration: none;
    color: inherit;
}
footer .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* icons */
footer .footer-icons {
    margin-top: 40px;
}
footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
footer .footer-icons a#fb:hover{
    background-color:#3b5998;
}
footer .footer-icons a#tw:hover{
    background-color:#00acee;
}
footer .footer-icons a#lk:hover{
    background-color:#0e76a8;
}
footer .footer-icons a#gh:hover{
    background-color:#211f1f;
}
footer .footer-right {
    float: right;
    margin-top: 45px;
}
footer .footer-right p {
    display:inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}
footer form {
    display: inline-block;
}
footer form input, 
footer form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border:none;
    resize:none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 400px;
    padding: 18px;
}
footer button:hover {
    background-color: #1f2022;
    cursor: pointer;
}
footer ::-webkit-input-placeholder {
    color: #5c666b;
}
footer ::-moz-placeholder {
    color: #5c666b;
}
footer ::-ms-input-placeholder {
    color: #5c666b;
}
footer form input {
    height:55px;
    margin-bottom:15px;
}
footer form textarea {
    height: 100px;
    margin-bottom: 20px;
}
footer form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

/* ==== END FOOTER ==== */

/* ==== START NAVIGATION BAR ==== */
ul.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #444;   
    border-radius: 3px;
}

li.nav {
    display: inline-block;
    border-right:1px solid #bbb;
    padding-right: 4px;
    
}

li.nav:first-child {
    border-left: none;
}

li.nav:last-child {
    border-right: none;
    float: right;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

li.nav a:hover:not(.nav-active) {
    background-color: #1f2022;  
}

a.nav-active {
    background-color: red;
}

input.nav[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: none;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.nav[type=search]:focus {
    width: 100%;
}
/* ==== END NAVIGATION BAR ==== */

/* ==== START LOGIN FORM ==== */
form.login {
    border-radius: 8px;
    width: 250px;
    height:120px;
    padding: 0px 5px;
    float: right;
    position: relative;
    bottom: 5px;
    background-color: #444;
    text-align: left;
    color: #ffffff;
}
form.login .icon {
    display: inline-block;
	width: 35px;
	height: 35px;
	/*background-color:  #33383b;*/
	border-radius: 2px;

	font-size: 60px;
    color: #ffffff;
	text-align: center;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}
form.login input {
    float: right;
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border:none;
    resize:none;

    margin: 2px 10px;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 150px;
    padding: 10px;
}
form.login input:first-of-type {
    margin-top: 6px;
}
form.login input:nth-of-type(2) {
    margin-bottom: 5px;
}
form.login button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 5px 22px;
    font-weight: bold;
    float: right;
    clear: both;
    margin-right: 10px;
}
form.login button:hover {
    background-color: #2ca02c;
    cursor: pointer;
}

form.login input[type="checkbox"] {
    float: left;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 10px;
}
form.login label[for="rememberuser"] {
    float:left;
    font-size: 85%;
    vertical-align:middle;
    font-family: Roboto;
    margin-top: 8px;
    /*position: relative;
    top: 2.5px;*/
}

form.login ::-webkit-input-placeholder {
    color: #5c666b;
}
form.login ::-moz-placeholder {
    color: #5c666b;
}
form.login ::-ms-input-placeholder {
    color: #5c666b;
}
/* ==== END LOGIN FORM ==== */
