/* default page style */
html, body {
    height: 100%;
    /*cursor:pointer;
    pointer-events: auto;*/
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin-bottom: 20px;
}
img.auto {
    height: auto;
    width: auto;
}
img.logo {
    height: 120px;
    width: 250px;
}

/* ==== START NAVIGATION BAR ==== */
ul.nav {
    padding: 10px;
    margin: 0px auto 20px auto;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    text-align:center;
}
li.nav {
    display: inline;
    margin: 0px 3px;
}
a.nav {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}
a.nav:hover, a.nav.on {
    color: #cc3333;
    background-color: #ffffff;
}
/* ==== END NAVIGATION BAR ==== */


input[type=search].search-bar {
    width:200px;
}

/* ==== START LOGIN FORM ==== */
fieldset.login-form {
    border-radius: 8px;
    width: 250px;
    padding: 0px 5px 0px 5px;
    float: right;
    position: relative;
    bottom: 5px;
}
fieldset.login-form div{
    width: 250px;
    margin: 10px;
    padding-bottom: 0px;
    /*border: 1px solid #000000;*/
}
fieldset.login-form div.forgot-password {
    padding: 0px 0px 0px 10px;
    margin: 5px;
}
fieldset.login-form label {
    width: 100px;

}
fieldset.login-form legend {
    font-weight: normal;
    padding: 1px 2px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
fieldset.login-form input {
    float:right;
}
fieldset.login-form input[type=submit] {
    float:none;
    color: #1c1f1f;
    margin: 0px;
}
fieldset.login-form input[type=checkbox] {
    float: right;

}
fieldset.login-form label[for="rememberuser"] {
    float:right;
    font-size: 85%;
    vertical-align:middle;
    position: relative;
    top: 1.5px;
}
/* ==== END LOGIN FORM ==== */

/* ==== START HOME NAV BAR ==== */
ul.home-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
  
  li.home-nav {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li.home-nav:last-child {
    border-right: none;
  }
  
  li.home-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li.home-nav a:hover:not(.home-nav-active) {
    background-color: #111;
  }
  
  a.home-nav-active {
    background-color: red;
  }

  input.home-nav[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: none;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input.home-nav[type=search]:focus {
    width: 100%;
  }
  /* ==== END HOME NAV BAR ==== */