<!DOCTYPE html>
<html>
    <head>
        <title>LetsXchange Contact Us</title>
        <link rel="icon" href="/assets/ico/favicon.ico">

        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/contact.css" rel="stylesheet" type="text/css" />
 
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script> -->
        <script src="../js/jquery-3.4.1.js"></script>

        <!-- sets nav active element by checkling page url -->
        <script>
            $.getScript("../js/nav-active-page.js");
        </script>
      
    </head>
    <body>

        <header>
            {{#if auth}}
                <script>
                    $("header:first-of-type").load("./pages/common/header-auth.handlebars");
                </script> 
            {{else}}
            <script>
                $("header:first-of-type").load("./pages/common/header.handlebars");
            </script>     
            {{/if}}
        </header>

        <main role="main">

            {{#if msg}}
                <p class='msg'>{{msg}}</p>
            {{/if}}

            <!-- COLUMN 01 START -->
            <div id="column1">
                <section id="contact-info">
                    <table>
                        <tr>
                            <th scope="col" colspan="2" class="table-title">Contact</th>
                        </tr>
                        <tr>
                            <th scope="row">Telephone number:</th>
                            <td>+44713378844</td>
                            </tr> 
                            <tr>
                                <th scope="row">Email address:</th>
                                <td><a href="mailto:letsxchangeproject@gmail.com">letsxchangeproject@gmail.com</a></td>
                            </tr>
                        </table>
                    <br>
                    <table>
                        <tr>
                            <th scope="col" colspan="3" class="table-title">Time Schedule</th>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="2">Customer support:</th>
                            <td>Monday - Friday</td>
                            <td>09:00 - 20:00</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>09:00 - 13:00</td>
                            </tr>
                        <tr>
                            <th scope="row">Call and live chat support: </th>
                            <td> Monday - Friday</td>
                            <td>09:00 - 18:00</td>
                        </tr>
                        <tr>
                            <th scope="row">Office access hours:</th>
                            <td>Monday - Thursday</td>
                            <td>09:00 - 17:00</td>
                        </tr>
                    </table>
                </section>
                <!--Google Maps frame start-->
                <div id="contact-map"> 
                    <h3>You can find us at: </h3>
                    <p>Priory St, Coventry CV1 5FB</p>
                    <iframe src="https://maps.google.com/maps?q=coventry%20university&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" seamless>
                    </iframe> 
                </div>
                <!--Google Maps frame end-->   
            </div>     
            <!-- COLUMN 01 END -->

            <!-- COLUMN 02 START -->
            <div id="column2">

                <div class="contact-form">
                    <form action="/contact-us" method="POST" id="contact-us">
                        <span class="bigtext">Send us a message</span>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Your name..">

                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Your email address.." required>

                        <label for="message">Message <span style="color: rgb(105, 105, 105);">(max 1000 characters)</span></label>
                        <textarea id="message" name="message" placeholder="What can we help you with?.." style="height:200px" maxlength="750" required></textarea>

                        <input type="submit" value="Submit">

                    </form>
                </div>
            </div>   
            <!-- COLUMN 02 END -->  
        </main>
        <footer>
            <script>
                $("footer:last-of-type").load("./pages/common/footer.handlebars");
            </script>
        </footer>     

    </body>
</html>