<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LetsXchange Error</title>
		<meta name="description" content="letsxchange meta description">
		<meta name="author" content="meta author">
		<link href="./css/styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <h1>An Error Has Occurred</h1>
        <h2>Details: <span style="color: red">{{message}}<span></h2>
	</body>
</html>
