<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/index.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />

        <title> LetsXchange Homepage </title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">

        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>

        <header>
            <script>
                $("header:first-of-type").load("./pages/common/header.handlebars");
            </script>       
        </header>

        <main role="main">
            {{#if auth}}
            {{/if}}
            <div class="container-box">
                <div class="card-grid">
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                    <div class="item-card"></div>
                </div>
            </div>
            <!--<table class="listing">
                <tr> 
                    <th class="listing">Listing1</th>
                    <th class="listing">Listing2</th> 
                    <th class="listing">Listing3</th> 
                    <th class="listing">Listing4</th> 
                    <th class="listing">Listing5</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing6</th> 
                    <th class="listing">Listing7</th> 
                    <th class="listing">Listing8</th> 
                    <th class="listing">Listing9</th> 
                    <th class="listing">Listing10</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing11</th> 
                    <th class="listing">Listing12</th> 
                    <th class="listing">Listing13</th> 
                    <th class="listing">Listing14</th> 
                    <th class="listing">Listing15</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing16</th> 
                    <th class="listing">Listing17</th> 
                    <th class="listing">Listing18</th> 
                    <th class="listing">Listing19</th> 
                    <th class="listing">Listing20</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing21</th> 
                    <th class="listing">Listing22</th> 
                    <th class="listing">Listing23</th> 
                    <th class="listing">Listing24</th> 
                    <th class="listing">Listing25</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing26</th> 
                    <th class="listing">Listing27</th> 
                    <th class="listing">Listing28</th> 
                    <th class="listing">Listing29</th> 
                    <th class="listing">Listing30</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing31</th> 
                    <th class="listing">Listing32</th> 
                    <th class="listing">Listing33</th> 
                    <th class="listing">Listing34</th> 
                    <th class="listing">Listing35</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing36</th> 
                    <th class="listing">Listing37</th> 
                    <th class="listing">Listing38</th> 
                    <th class="listing">Listing39</th> 
                    <th class="listing">Listing40</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing41</th> 
                    <th class="listing">Listing42</th> 
                    <th class="listing">Listing43</th> 
                    <th class="listing">Listing44</th> 
                    <th class="listing">Listing45</th> 
                    </tr> 
                    <tr> 
                    <th class="listing">Listing46</th> 
                    <th class="listing">Listing47</th> 
                    <th class="listing">Listing48</th> 
                    <th class="listing">Listing49</th> 
                    <th class="listing">Listing50</th> 
                    </tr> 
                </table>-->
        </main>

        <footer>
            <script>
                $("footer:last-of-type").load("./pages/common/footer.handlebars");
            </script>
        </footer>

    </body>  
</html>