<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/index.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />

        <title> LetsXchange Log In </title>
        <meta name="description" content="Search and Post anything for trade!" />
        <meta name="keywords" content="exchange, trade, search, find, post" />
        <link rel="icon" href="/assets/ico/favicon.ico">
        
        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>
        <header>
            <script>
                $("header:first-of-type").load("./pages/common/header.handlebars");
            </script>       
        </header>

        <main role="main">
            {{#if msg}}
                <p class="msg">{{msg}}</p>
            {{else}}
            <h1>Log In</h1>

            {{/if}}

            <form action="/login" method="post" id="loginform" class="login">
                <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
                <input type="text" name="user" placeholder="Username or Email" value="{{user}}" required="required" autofocus>
                <input type="password" name="pass" placeholder="Password" required="required" value="">
                <button type="submit" form="loginform">Log In</button>   
                <input type="checkbox" name="rememberuser" value="rememberuser" />
                <label for="rememberuser">Remember me</label>    
            </form> 
    
        </main>

        <footer>
            <script>
                $("footer:last-of-type").load("./pages/common/footer.handlebars");
            </script>
        </footer>

    </body>  
</html>